.mystop {
    margin-top: 150px;
    border: 5px solid black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-left:450px;
    margin-right:450px;
    background-color: white;
    border-radius: 20px;
  }
  h1{
    font-size: 60px;
  }
  
  body {
    background-color: rgb(239, 176, 176);
  }
  button {
    margin: 2px;
    border-radius: 6px;
    border: none;
  }
  button:hover{
    transform: scale(1.1);
  }
  .start{
    background-color: green;
    color: white;
    width: 110px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.stop{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    font-size: 20px;
    color: white;
    width: 110px;
    height: 30px;
    border-radius: 30px;
    margin-left: 10px;
}
.reset{
    margin-left: 10px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    font-size: 20px;
    color: white;
    width: 110px;
    height: 30px;
    border-radius: 30px;
  }
  